# Compiled output
dist
node_modules
build
dist-ssr
*.local
.output
.vercel
/.svelte-kit

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Environment variables
.env
.env.*
!.env.example
!.env.test
!.env.template

# Temp directories
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Other
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Custom
*docker*
Makefile
redis_data
postgres_data

.svelte-kit